h, .topnav a {
  font-family:georgia, times;
}

p, th, td {
  font-family:verdana, Arial;
}

.header h1, .header p {
  font-family:garamond, times;
}

img {
  float: right;
  padding: 6px;
}

@media (min-width: 701px) {
    img {
        height: 160px;
        width: 20%;
    }
}

@media (max-width: 700px) {
    img {
        height: 300px;
        width: 100%;
    }
}

.content {
  background-color: #f1f1f1;
}

@media (min-width: 701px) {
    .centered-image img {
      display: block;
      float: none;
      width: 20%;
      margin: auto;
    }
}

@media (max-width: 700px) {
    .centered-image img {
        display: block;
        float: none;
        width: 100%;
        margin: auto;
    }
}

.caption {
  text-align:center;
  background-color:white;
  width:30%;
  margin:auto;
}


table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  background-color: #2674c1;
  color: white;
}

th, td {
  padding: 5px;
}

.italic {
  font-style:italic;
}







