h1 {
  background-color:powderblue;
  padding:10px;
  text-align:center;
}

#id1 {
  color:red;
  font-size:15px;
  font-family: Verdana;
  background-color:black;
}

.purply p {
  color:purple;
  font-size:12px;
  border:2px solid purple;
}

/* note the syntax for CSS comments */
